[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-restx = "==1.1.0"
flask-cors = "*"
sqlalchemy = "==2.0.17"
pymysql = "*"
flask-sqlalchemy = "*"
cryptography = "*"
flask-jwt-extended = "*"
pytest = "*"
pydantic = "*"
black = "*"
pre-commit = "*"
poetry = "*"
pydantic-settings = "*"
mkdocs-material = "==9.1.21"
mdx-include = ">=1.4.1,<2.0.0"
mkdocs-markdownextradata-plugin = ">=0.1.7,<0.3.0"
typer-cli = ">=0.0.13,<0.0.14"
typer = {version = ">=0.6.1,<0.8.0", extras = ["all"]}
pyyaml = "<7.0.0,>=5.3.1"
jieba = "==0.42.1"
pillow = "==9.5.0"
cairosvg = "==2.7.0"
flask-admin = "==1.6.1"
flask-wtf = "*"
flask-bootstrap4 = "==4.0.2"
flask-login = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.10"
