{% extends 'admin/master.html' %} {% block title%} QRSchool {% endblock%} {%
block head_css%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css') }}"
/>
{% endblock %} {% block body %}
<div
  class="panel panel-default content login-backgroud"
  style="background-image: url({{ url_for('static', filename='img/bg-01.jpg') }})"
>
  <div class="container-fluid">
    <br />

    <div class="row flex-sb flex-w">
      <div class="mx-auto"></div>
    </div>
  </div>
</div>
{% block footer %} {% include "footer.html" %} {% endblock %} {% endblock %}
