{% extends "base.html" %} {% block title%} QRSchool {% endblock%} {% block head
%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css') }}"
/>
{% endblock %} {% block content %}
<div
  class="panel panel-default content login-backgroud"
  style="background-image: url('static/img/bg-01.jpg')"
>
  <div class="card form-container flex-sb flex-w">
    <form
      enctype="application/json"
      class="form-signin"
      action="/login"
      method="POST"
    >
      {{ form.csrf_token }}
      <h2 class="form-signin-heading">Ingresar</h2>
      <label for="inputEmail" class="sr-only">Correo electrónico</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Correo electrónico"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Contraseña"
        required
      />
      <div class="d-flex justify-content-between w-full p-t-3 p-b-24">
        <div class="contact100-form-checkbox">
          <label>
            <input type="checkbox" value="remember-me" /> Recordarme
          </label>
        </div>
        <a class="font-weight-light" href="#">recuperar?</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block submit" type="submit">
        Ingresar
      </button>
    </form>
  </div>
</div>
{{super()}} {% endblock %}
