{% extends "base.html" %} {% block title%} QRSchool {% endblock%} {% block head
%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css') }}"
/>
{% endblock %} {% block content %}
<div
  class="panel panel-default content login-backgroud"
  style="background-image: url('static/img/bg-01.jpg')"
>
  <div class="card form-container flex-sb flex-w">
    {% if not current_user.is_anonymous %}
    <form
      enctype="application/json"
      class="form-signin"
      action="/logout"
      method="POST"
    >
      {{ form.csrf_token }}
      <h2 class="form-signin-heading">Ha ingresado como</h2>
      <div class="mx-auto text-uppercase">{{ current_user.correo}}</div>
      <br />
      <button class="btn btn-lg btn-danger btn-block submit" type="submit">
        Salir
      </button>
    </form>
    {% else %}
    <form
      enctype="application/json"
      class="form-signin"
      action="/login"
      method="POST"
    >
      {{ form.csrf_token }}
      <h2 class="form-signin-heading">Ingresar</h2>
      <!--<label for="inputEmail" class="sr-only">Correo electrónico</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Correo electrónico"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Contraseña"
        required
      />
      -->
      {{ form.correo(class_="form-control", placeholder="Correo electrónico") }}
      {{ form.password(class_="form-control", placeholder="Contraseña",
      type="password") }}
      <div class="d-flex justify-content-between w-full p-t-3 p-b-24">
        <div class="contact100-form-checkbox">
          <label>
            {{ form.recordarme(type="checkbox") }} {{ form.recordarme.label }}
          </label>
        </div>
        <a class="font-weight-light" href="#">recuperar?</a>
      </div>
      <button class="btn btn-lg btn-primary btn-block submit" type="submit">
        Ingresar
      </button>
    </form>
    {% endif %}
  </div>
</div>

{{super()}} {% endblock %}
