{% extends "bootstrap/base.html" %} {% block title%} QRSchool {% endblock%} {%
block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/signin.css') }}"
/>
{% endblock %} {% block navbar %} {% include 'navbar.html' %} {% endblock %} {%
block content %}
<div class="panel panel-default">
  <div class="container">
    <form
      enctype="application/json"
      class="form-signin"
      action="/login"
      method="POST"
    >
      {{ form.csrf_token }}
      <h2 class="form-signin-heading">Ingresar</h2>
      <label for="inputEmail" class="sr-only">Correo electrónico</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Correo electrónico"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Contraseña"
        required
      />
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" /> Recordarme
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block submit" type="submit">
        Ingresar
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block footer %} &copy; Copyright 2023 by
<a href="http://gestionhseq.com/">Sebastian Lopez Buritica</a>. {% endblock %}
